<%- layout("layouts/boilerplate") %>
    <h1><%= language.name %></h1>
    <ul>
      <% for (tutor of tutors) { %>
      <li>
        <a href="/tutors/<%= tutor._id %>"
          ><%= tutor.name %> - Rating: <%= tutor.rating %></a
        >
      </li>
      <% } %>
    </ul>
    <footer>
      <a href="/languages">All Languages</a>
    </footer>
