<%- layout("layouts/boilerplate") %>
    <h1>All Tutors</h1>
    <div class="tutors__container">
      <ul>
      <% for (let tutor of tutorList) { %>
      <li>
          <!-- <%= tutor.name %></a> -
        Rating: <span><%= tutor.rating %>
        </span> -->
        <div class="tutor__container">
          <a href="tutors/<%= tutor._id %>">
            <%= tutor.name %>
          </a>
        </div>
      </li>
      <% } %>
    </ul>
    </div>
