<%- layout("layouts/boilerplate") %>
    <h1>All Tutors</h1>
    <div class="tutors__container">
      <ul>
      <% for (let tutor of tutorList) { %>
      <li>
          <!-- <%= tutor.name %></a> -
        Rating: <span><%= tutor.rating %>
        </span> -->
        <div class="tutor__container">
          <a href="tutors/<%= tutor._id %>">
            <div class="tutor__infoContainer">
              <div class="tutor__info">
                <div class="tutor__avatar">
                  
                </div>
                <%- tutor.name %>
              </div>
              <div class="tutor__details">
                <button>Book</button>
              </div>
            </div>
          </a>
        </div>
      </li>
      <% } %>
    </ul>
    </div>
